body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.container, #operators, #numbers{
    gap: 5px;
}
.container{
    background-color: grey;
    padding: 25px;
    height: 60vh;
    width: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0px 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "disp   disp   disp    disp  disp"
                         "clear  clear  c       gap   operators"
                         "number number number  gap   operators"
                         "number number number  gap   operators"
                         "number number number  gap   operators"
                         "zero   zero   dot     gap   equal";
}
button{
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(212, 245, 255);
}
button:hover{
    background-color: rgb(155, 183, 192);

}
#numbers{
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-area: number;
}
#clear{
    grid-area: clear;
    background-color: rgba(231, 40, 40, 0.801);
}
#clear:hover{
    background-color: rgba(146, 64, 64, 0.842);
}
#zero{
    grid-area: zero;
}
#equal{
    grid-area: equal;
    background-color: rgb(253, 255, 121);
}
#equal:hover{
    background-color: rgba(253, 255, 121, 0.733);
}
#dot{
    grid-area: dot;
}
#operators{
    grid-area: operators;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
#display{
    padding: 10px 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-color: lightblue;
    font-size: 24px;
    font-weight: bold;
    grid-area: disp;
}
.container, #display, button{
    border: 3px solid black;
    border-radius: 10px;
}
#operators button{
    background-color: rgb(235, 166, 39);
}
#operators button:hover{
    background-color: rgb(219, 137, 14);
}