body{
    text-align: center;
}
.container, #operators, .numbers{
    gap: 5px;
}
.container{
    background-color: grey;
    padding: 25px;
    height: 60vh;
    width: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0px 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "disp   disp   disp    disp  disp"
                         "clear  clear  c       gap   operators"
                         "number number number  gap   operators"
                         "number number number  gap   operators"
                         "number number number  gap   operators"
                         "zero   zero   dot     gap   equal";
}
.numbers{
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-area: number;
    font-size: 24px;
}
#clear{
    grid-area: clear;
}
#zero{
    grid-area: zero;
}
#equal{
    grid-area: equal;
}
#dot{
    grid-area: dot;
}
#operators{
    grid-area: operators;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
#display{
    padding: 10px 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-color: white;
    font-size: 24px;
    grid-area: disp;
}
button{
    font-size: 24px;
}